.checkout-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.checkout-details {
  display: flex;
  
  div {
    margin: 0.5rem;
  }
}

.button-confirm {
  margin-top: 0.5rem;
}